extends ../../layout.pug

block nav
  - var currentPage = 'signup'

block content
  h1 Signup Form
  form.signup-form(method='post', action='/auth/signup')
    div.signup-input-container
      label(for='pseudo') Pseudo
      input#pseudo.signup-input(type='text', name='pseudo')
      if (errors && errors.pseudo)
        p.error= errors.pseudo

    div.signup-input-container
      label(for='email') Email
      input#email.signup-input(type='email', name='email')
      if (errors && errors.email)
        p.error= errors.email

    div.signup-input-container
      label(for='password') Mot de passe
      input#password.signup-input(type='password', name='password')
      if (errors && errors.password)
        p.error= errors.password

    div.signup-submit-container
      - var disabled = false
      input.signup-submit-btn(type='submit', value='submit')

//- disabled=errors ? '' : null
