extends ../../layout.pug

block nav
  - var currentPage = 'signin'

block content
  div.signup-container
    div.signup-form-container.card
      form.signup-form(method='post', action='/auth/signin')
        h1 Signin Form

        hr

        div.signup-input-container
          label(for='email') Email
          input#email.signup-input(type='email', name='email')

        div.signup-input-container
          label(for='password') Mot de passe
          input#password.signup-input(type='password', name='password')

          if (errors)
            p.error= errors

        div.signup-submit-container
          input.btn.btn-primary(type='submit', value='submit')
