/* ERRORS */
.error {
  color: var(--error);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.5rem 0 0 0;
}

/* BUTTONS */
.btn {
  border-radius: 0.5rem;
  cursor: pointer;

  &-delete {
    background-color: var(--error);
    color: var(--background);
    border: 0.2rem solid var(--error);

    &-post {
      height: auto;
      padding: 0.2rem 0.9rem;
      border-radius: 6rem;
      line-height: 2rem;
      transition-duration: 0.4s;

      &:hover {
        background-color: var(--background);
        color: var(--error);
      }
    }
  }

  &-edit-post {
    width: 14%;
    height: 70%;
    text-align: center;
    background: var(--primary);
    color: var(--background);
    // padding: 0.7rem 1.5rem;
    transition-duration: 0.4s;
    border: 0.2rem solid var(--primary);

    &:hover {
      background-color: var(--background);
      color: var(--primary);
    }
  }
}

/* Card */
.card {
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-light);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--gray-light);
  background-color: rgba(#bab9b6, 0.5);

  &-header {
    width: 100%;
    height: 20%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-body {
    width: 100%;
    height: 80%;
    // border: 2px solid var(--gray-light);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
