/* ERRORS */
.error {
  color: var(--error);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.5rem 0 0 0;
}

/* BUTTONS */
.btn {
  border-radius: 0.5rem;
  cursor: pointer;

  &-primary {
    text-align: center;
    background: var(--primary);
    color: var(--background);
    padding: 0.7rem 1.5rem;
    transition-duration: 0.4s;
    border: 0.2rem solid var(--primary);

    &:hover {
      background-color: var(--background);
      color: var(--primary);
    }
  }

  &-delete {
    background-color: var(--error);
    color: var(--background);
    border: 0.2rem solid var(--error);

    &-post {
      height: auto;
      // padding: 0.2rem 0.9rem;
      border-radius: 10rem;
      line-height: 2rem;
      transition-duration: 0.4s;

      &:hover {
        background-color: var(--background);
        color: var(--error);
      }
    }
  }
}

/* CARDS */
.card {
  border: 1px solid var(--gray-light);
  border-radius: 0.5rem;
  // box-shadow: 0 0 10px var(--gray-light);
  background-color: var(--background);
  padding: 4rem;

  &-header {
  }

  &-body {
  }
}
/* TEXT */
.text-primary {
  color: var(--primary);
}

/* LINKS */
