/* Reset CSS */
:root {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-color);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

a {
  font-size: 1.6rem;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-shadow: 0 0 1rem rgba(#003049, 0.5);
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
textarea {
  background: var(--background);

  &:focus {
    outline: none !important;
    border: 1px solid var(--primary);
    box-shadow: 0 0 6px var(--primary);
  }
}
input {
  background: var(--background);

  &:focus {
    outline: none !important;
    border: 1px solid var(--primary);
    box-shadow: 0 0 6px var(--primary);
  }
}

hr {
  width: 80%;
  height: 0%;
  border: 0;
  border-bottom: 2px solid var(--primary);
  margin-bottom: 2rem;
}
