// Variables CSS :
:root {
  --primary: #003049;
  --primary-light: #006296;
  --primary-dark: #003857;
  --secondary: #f77f00;
  --background: #faf9f6;
  --gray-light: #bab9b6;
  --gray-dark: #3b3a39;
  --error: #d62828;
  --font-family: "Lato", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #0a0f0d;
  --menu-card: #0a0f0d;
}
