@use "./reset";
@use "./variables";
@use "./components";
@use "./mixins";

/* GENERAL */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */
.header {
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .logo-link {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-img {
      width: 100%;
    }
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 36rem;
    transition: 0.3s ease-in-out;

    .navbar-item {
      margin-left: 1rem;
      transition: 0.2s ease-in-out;

      &.active {
        color: var(--primary);
        font-weight: 700;
      }

      &:hover {
        text-shadow: 0 0 1rem rgba(#003049, 0.5);
      }
      &-post {
        text-align: center;
        background: var(--primary);
        color: var(--background);
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 0.8rem 1.5rem;
        margin-left: 1rem;
        transition: 0.2s ease-in-out;

        &:hover {
          text-shadow: 0 0 1rem rgba(#faf9f6, 0.5);
        }
      }
    }
  }
}

/* HOME */
.home {
  width: 100%;
  height: 100%;
  h1 {
    text-align: center;
  }
}

/* POST */
.post-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#post-list-container {
  flex: 1 1 auto;
  // width: 70vw;
}

.post-item {
  border-radius: 0px;
  font-size: 14px;
  border-top: 0.2rem solid var(--text-color);
  padding: 1rem 0.5rem;

  &:last-child {
    border-bottom: 0.2rem solid var(--text-color);
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-delete-post {
    height: 3rem;
    float: right;
  }
}

/* POST-FORM */
.post-form-container {
  width: 70%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .post-form {
    width: 80%;
    height: 80%;

    .form-control-label {
      width: 90%;
      margin-top: 1rem;
    }

    &-textarea-container {
      width: 100%;
      height: 65%;
      display: flex;
      justify-content: center;
      align-items: center;

      #form-control {
        width: 90%;
        height: 70%;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-top: 0.5rem;
      }
    }

    &-btn-container {
      width: 90%;
      height: 32%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}

/* PROFILE */
.profile-container {
  width: 30%;
  max-width: 30rem;
}

/* SIGNUP */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  .signup-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    .signup-input {
      padding: 0.7rem 0.5rem;
      border: 1px solid var(--primary);
      border-radius: 1rem;
    }
  }
}

/* FOOTER */
footer {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
