@use "./reset";
@use "./variables";
@use "./components";
@use "./mixins";

/* GENERAL */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* HEADER */
.header {
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  .logo-link {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-img {
      width: 100%;
    }
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    background: var(--background);

    .navbar-item {
      margin-left: 1rem;
      transition: 0.2s ease-in-out;

      &.active {
        color: var(--primary);
        font-weight: 700;
      }

      &:hover {
        text-shadow: 0 0 1rem rgba(#003049, 0.5);
      }
      &-post {
        text-align: center;
        background: var(--primary);
        color: var(--background);
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 0.8rem 1.5rem;
        margin-left: 1rem;
        transition: 0.2s ease-in-out;

        &:hover {
          text-shadow: 0 0 1rem rgba(#faf9f6, 0.5);
        }
      }
    }
  }
}

/* HOME */
.home {
  width: 100%;
  min-height: calc(100vh - 14rem);
  padding: 1rem 2rem;
  background-color: var(--background-gray);

  h1 {
    text-align: center;
  }
}

/* POST */
.post-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#post-list-container {
  flex: 1 1 auto;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // box-shadow: 0 0 10px var(--gray-light);
}

.post-item {
  width: 90%;
  border-radius: 0px;
  font-size: 14px;
  border: 0px;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;

  &:last-child {
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.25);
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-delete-post {
    height: 3rem;
    float: right;
  }
}

/* POST-FORM */
.post-form-container {
  flex: 1 1 auto;
  align-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .post-form {
    width: 90%;

    .post-form-textarea-container {
      width: 100%;
      height: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .post-form-textarea {
        width: 100%;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0;
      }

      .post-form-btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
  }
}

/* PROFILE */
.profile-container {
  min-width: 30%;
  max-width: 30rem;
  height: 100%;
  background: var(--background);
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
}
.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    display: none;
  }

  img {
    max-height: 12rem;
    border-radius: 10rem;
  }
}

.profile-name-container {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-infos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    margin: 0;
  }
}
.profile-infos-posts-container {
  flex: 1 1 auto;
}

/* SIGNUP */
.signup-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .signup-form-container {
    width: 40%;
    min-width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signup-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-bottom: 3rem;
      }

      .signup-input-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;

        .signup-input {
          max-width: 100%;
          min-width: 12rem;
          padding: 0.7rem 0.5rem;
          border: 1px solid var(--primary);
          border-radius: 1rem;
        }
      }

      .signup-submit-container {
        margin-top: 2rem;
      }
    }
  }
}

// Socials Auth Btns
.socials-auth {
  margin-top: 2rem;
}

/* FOOTER */
footer {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}
