// Variables CSS :
:root {
  --primary: #003049;
  --secondary: #d62828;
  --ternary: #f77f00;
  --gray-1: #20232a;
  --gray-2: #efefef;
  --dark: #333;
  --background: #eae2b7;
  --error: #e74c3c;
  --font-family: "Lato", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #0a0f0d;
  --menu-card: #0a0f0d;
}
