header.header
  a.header-logo(href='#')
    img.header-img(src='/images/logo-community.png')
  nav.header-navbar
    ul.header-navbar-menu
      li(class=`${currentPage === 'home' ? 'navbar-link active' : 'navbar-link'}`)
        a.navbar-link(href=`${currentPage === 'home' ? '#' : process.env.URLWEBSITE}`) Home
      li(class=`${currentPage === 'login' ? 'navbar-link active' : 'navbar-link'}`)
        a.navbar-link(href='#') Log in
      li(class=`${currentPage === 'signup' ? 'navbar-link active' : 'navbar-link'}`)
        a.navbar-link(href='#') Sign up
