block nav
  - var currentPage = 'post-list'

if posts
  each post in posts
    div.card.post-item
      div.card-body
        div.card-content-user-img
          img(src=post.author.avatar, alt='the avatar of the post creator')
          p.card-post-username= post.author.username
        div.card-content-user-infos
          div.card-content-user-post= post.content
          if editable && post.author.id === currentUser.id
            div.card-post-btn-container
              a.fa-solid.fa-pen-to-square(href='/posts/edit/' + post.id)
              button.btn.btn-delete.btn-delete-post(post_id=post.id) x
          else
            div.card-post-btn-container
