extends ../../layout.pug

block nav
  - var currentPage = 'post-form'

block content
  div.post-container
    div.profile-container
      include ../users/profile
    div.post-form-container
      form.post-form.card(method='post', action=post.id ? '/posts/update/' + post.id : '/posts/')
        div.post-form-textarea-container
          label.form-control-label(for='form-control') Écrire un post
          textarea#form-control.post-form-textarea(
            name='content',
            placeholder='What is happening',
            autofocus)= post.content
          if errors
            each error in errors
              p.error= error
          div.post-form-btn-container
            input.btn.btn-primary(type='submit', value='Send')
