block nav
  - var currentPage = 'post-list'

if posts
  each post in posts
    div.card.post-item
      div.card-body
        div.card-text= post.content
        button.btn.btn-delete.btn-delete-post(post_id=post.id) x
