doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href=`${process.env.CSSFOLDER}/main.css`)
    title Community
  body
    div.container 
      |
      //- create variable for apply style on active link in header nav. 
      block nav
        - var currentPage = 'home'

      //- Headers with navbar
      include includes/header.pug

      // Home content
      div.home
        block content

      //- Footer
      include includes/footer.pug
